In [2]:
from datasets import load_from_disk
import pandas as pd

### Explore TrainDataset

In [3]:
dataset = load_from_disk("../data/train_dataset/")
dataset

DatasetDict({
    train: Dataset({
        features: ['__index_level_0__', 'answers', 'context', 'document_id', 'id', 'question', 'title'],
        num_rows: 3952
    })
    validation: Dataset({
        features: ['__index_level_0__', 'answers', 'context', 'document_id', 'id', 'question', 'title'],
        num_rows: 240
    })
})

In [4]:
dataset['train']

Dataset({
    features: ['__index_level_0__', 'answers', 'context', 'document_id', 'id', 'question', 'title'],
    num_rows: 3952
})

In [31]:
def read_dataset(dataset, idx, mode):
    IDX = idx
    features = dataset[mode].features
    for feature in features:
        print("*"*50, feature, "*"*50)
        print(dataset[mode][IDX][feature])

In [32]:
read_dataset(dataset, 100, "train")

************************************************** __index_level_0__ **************************************************
1081
************************************************** answers **************************************************
{'answer_start': [947], 'text': ['대통령 박정희']}
************************************************** context **************************************************
그의 죽음으로 좌우합작위원회는 구심점을 잃게 된다. 제2차 미소공위는 추진하던 중 이후 중재자가 없어지자 극좌,극우 양극단 세력의 갈등이 표출하였고, 끝내 미국-소련의 입장만 확인한 채 1947년 10월에 제2차 미소공위는 완전히 결렬되어 미국이 한반도 문제를 UN으로 이관함으로써 좌우합작위원회는 1947년 12월에 공식 해체된다. 결국, '통일임시정부' 수립을 위한 좌우합작운동은 좌절되어 실패로 끝났고 한반도는 '남한 내 단독정부 수립'안이 확정되기에 이르렀다.\n\n1947년 7월 19일 여운형이 피습,절명하여 암살되었을 당시 갑작스런 그의 죽음은 많은 사람들에게 커다란 충격을 주었다. 1947년 8월 3일 광화문 인민당사 앞에서 발인식이 거행되었다. 그의 영결식은 인민장으로 치러졌다. \n\n영결식에 약 60여만명의 수많은 추모인파가 몰렸다고 한다. 이는 광복 이후 최다 인파가 모인 것인데, 민중들이 슬픔에 동참하기 위해 자발적으로 흰 옷을 입어서 서울시내가 하얗게 뒤덮였다고 한다. 영구는 결식장인 서울운동장(동대문운동장)으로 향해 서서히 갔고, 장례 행렬은 11시 40분에 서울운동장에 도착하여 영결식이 치러졌다. 서울 운동장에서 베를린 올림픽 마라톤 금메달리스트 손기정과 역도선수 김성집 등 체육인들이 그의 관을 운구하였다. \n\n그의 시신은 포르말린으로 방부처리되어 쇠로 만들어진 관에 안치되었다. 통일이 되는 날에 다시 장사를 지내기 위함이었다. 그가 죽자 미 군정장관 하지가 육각수은관을 미국에서 특별 주문해 가져왔다고 한다.\n\n 여운형의 묘소는 서울시 강북구 우이동에 안치되었으며 강북구 수유동에서 멀지 않은 솔밭공원 근처에 있다. 한 때 1961년 5.16 군사정변 직후 우이동 묘소 땅이 채윤혁 개인에게 불하받게 되어 여운형 시신이 오갈 데 없는 딱한 처지에 놓인 적이 있었다. 당시 국회의원이던 여운형의 동생 여운홍이 법적으로 어떻게 해볼 길이 없으니 대통령 박정희한테 직접 문제를 해결해달라고 부탁했다. 이에 대해 박정희는 "그 분 사상이 어떤지는 모르겠지만 독립운동을 했다는 것 자체만으로도 높이 평가할 만 하다."면서 좋게 해결해주었다고 한다. 그리고, 1965년 7월 19일에 공식적인 추모식이 열렸다\n1990년 조선민주주의인민공화국으로부터 조국통일상이 추서되었다.\n\n2007년 항일독립운동가단체 협의회로부터 신간회창립80주년을 기념하는 민족공동체 상이 추서되었다. 양평군에서는 생가 복원사업을 진행하고 있다.\n\n2005년 서울특별시 종로구 계동에 여운형집 터 표석이 설치되었다.
************************************************** document_id **************************************************
5609
************************************************** id **************************************************
mrc-0-001657
************************************************** question **************************************************
여운홍이 도움을 청한 사람은?
************************************************** title **************************************************
여운형

In [33]:
read_dataset(dataset, 100, "validation")

************************************************** __index_level_0__ **************************************************
240
************************************************** answers **************************************************
{'answer_start': [191], 'text': ['수녀']}
************************************************** context **************************************************
캐서린 스윈포드는 원래 캐서린 드 로애로 태어났다. 그녀의 아버지는 "파옹"으로 알려진 질 드 로애였다. 파옹 드 로애는 원래 에노 출신으로 에드워드3세의 왕비 필리파의 수행원으로 잉글랜드에 왔으며, 후에 기사 작위와 영지를 얻는다. 어머니에 대해서는 알려진바가 없다. 형제로는 오빠이자 후에 흑태자 에드워드의 측근으로 일한 월터 드 로애와 수녀가 된 언니 엘리자베스 드 로애와 "캔터베리 이야기"로 유명한 초서의 부인이 된 동생 필리파 드 로애가 있다.\n캐서린은 휴 스윈포드경과 결혼했고 그와의 사이에 적어도 네명의 아이를 낳았다.\n랭카스터 공작 부인이었던 랭카스터의 블랜치가 죽은 3년후 그의 정부가 되었고 오래도록 랭카스터 공작의 정부로 남았다.\n랭카스터 공작 곤트의 존의 두 번째 부인이 죽자, 그는 정식으로 캐서린과 결혼했다. 랭카스터 공작부인이 된 후 왕국에서 서열 2위의 여성으로 중요한 행사에서 중요한 임무를 수행했으며, 의붓아들인 볼링블룩의 헨리가 헨리 4세로 즉위한후 그녀는 국왕의 어머니로 대접받았다.
************************************************** document_id **************************************************
27095
************************************************** id **************************************************
mrc-0-000355
************************************************** question **************************************************
캐서린 스윈포드의 언니의 직업은?
************************************************** title **************************************************
캐서린 스윈포드

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

In [38]:
index_level = []
answers = []
context = []
document_id = []
mrc_id = []
question = []
title = []

for data in dataset['train'].values():
    index_level.append(data.__index_level_0__)
    answers.append(data.answers)
    context.append(data.context)
    document_id.append(data.document_id)
    mrc_id.append(data.id)
    question.append(data.question)
    title.append(data.title)

,0,1,2,3,4,5,6,7,8,9,...,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951
0,"{'title': '미국 상원', 'context': '미국 상의원 또는 미국 상원...","{'title': '인사조직관리', 'context': ''근대적 경영학' 또는 '...","{'title': '강희제', 'context': '강희제는 강화된 황권으로 거의 ...","{'title': '금동삼존불감', 'context': '불상을 모시기 위해 나무나...","{'title': '계사명 사리구', 'context': '동아대학교박물관에서 소장...","{'title': '용아병', 'context': '델포이의 신탁에 따라 암소를 따...","{'title': '호반', 'context': '제27회와 제73회에 출현한다. ...","{'title': '제50노섬브리안 보병사단', 'context': '이집트로 이어...","{'title': '오싱', 'context': '하지만 슬픈 일들이 그녀의 행복을...","{'title': '모후산', 'context': '모후산(母后山)대한민국 전라남도...",...,"{'title': '북위 도무제', 'context': '378년 4월, 부견은 부...","{'title': '부일장학회', 'context': '진실규명 결정을 받은 김지태...","{'title': '전자감시제도', 'context': '감시 시스템에 대해 성찰해...","{'title': '미국 알래스카 육군', 'context': '1940년, 제2차...","{'title': '막리지의 난', 'context': '628년에 당이 마지막 남...","{'title': '이오 (위성)', 'context': '이오의 산\n이오의 산 ...","{'title': '내니 다이어리', 'context': '애니의 고군분투 뉴욕 입...","{'title': '빈 필하모니 관현악단', 'context': '1842년에 작곡...","{'title': '드래곤', 'context': '원어는 고대 그리스어까지 거슬러...","{'title': '2011년 함부르크 주의회 선거', 'context': '200..."
1,"{'title': '전효숙', 'context': '순천여자고등학교 졸업, 1973...","{'title': '스토우빌선', 'context': '요크 카운티 동쪽에 처음으로...","{'title': '촐라', 'context': '촐라 정부\n 촐라의 정부 체제는...","{'title': '백조 기사', 'context': '프랑스의 십자군 무훈시는 1...","{'title': '탈관료제화', 'context': '탈관료제화는 현대사회에서 관...","{'title': '마쓰에 소요 사건', 'context': '마쓰에 소요 사건(마...","{'title': '자수장', 'context': '수를 놓을 때에 사용하는 기법을...","{'title': '감염내과', 'context': '감염내과 전문의들은 일반적으로...","{'title': '노트르담 다리', 'context': '예부터 노트르담 다리는 ...","{'title': '히자즈', 'context': '여러 유적이 로마 제국의 영역상...",...,None,None,None,None,None,None,None,None,None,None

### Explore TestDataset

In [34]:
test = load_from_disk('../data/test_dataset/')

In [24]:
test

DatasetDict({
    validation: Dataset({
        features: ['id', 'question'],
        num_rows: 600
    })
})

In [35]:
read_dataset(test, 0, "validation")

************************************************** id **************************************************
mrc-1-000653
************************************************** question **************************************************
유령'은 어느 행성에서 지구로 왔는가?

In [36]:
read_dataset(test, 100, "validation")

************************************************** id **************************************************
mrc-0-004345
************************************************** question **************************************************
셰이크 무지부르 라흐만의 딸이 처음으로 선거에서 졌던 해는?